<h1>編輯朋友</h1>
<%= form_for(@friend) do |f| %>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name %> 
  <br/>

  <%= f.label :email, "email" %>
  <%= f.text_field :email %> 
  <br/>

  <%= f.label :tel, "電話" %>
  <%= f.text_field :tel %> 
  <br/>
  <%= f.label :twitter, "推特" %>
  <%= f.text_field :twitter %>
  <br/>
  <%= f.submit %>
<% end %>
<br />
<%= link_to '回候朋友列表', friends_path %>