  <p>
    <span>姓名：<%= @friend.name %> </span>
  </p>

  <p>
    <span>信箱：<%= @friend.email %> </span>
  </p>

  <p>
    <span>電話：<%= @friend.tel %> </span>
  </p>

  <p>
    <span>推特：<%= @friend.twitter %> </span>
  </p>
  
<%= link_to '回候朋友列表', friends_path %>